name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          # Core Options
          user: DeathGun44
          template: classic
          base: header, activity, community
          config_timezone: Asia/Kolkata
          theme: dracula
          config_display: large
          
          # 1. Languages (The colored bars)
          plugin_languages: yes
          plugin_languages_ignored: html, css
          plugin_languages_limit: 8
          
          # 2. The Replacement for Streak Stats (IsoCalendar)
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
