name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          # Options for a smaller, cleaner card
          user: DeathGun44
          template: classic
          base: header, activity, community # Removed 'repositories' and 'metadata' to save space
          config_timezone: Asia/Kolkata
          theme: dracula
          
          # Fix "Too Big" issues
          config_display: large # Uses a 2-column layout which is wider but shorter (looks better)
          
          # Languages Plugin (Keep this, it's cool)
          plugin_languages: yes
          plugin_languages_ignored: html, css
          plugin_languages_limit: 8
          plugin_lines: yes
